/* fonts  */
.font0 {
    font-size: 3.5rem;
}
.font1{
    font-size: 0.75rem;
}
.font2{
    font-size: 1.7rem;
}
/* main  */
#main-img img {
    height: 7rem;
    width: 7rem;
    padding: 1rem;
}


#main {
    height: 20rem;
}
/* animation images */
.outer img {
    margin: 0.4rem;
    height: 9rem;
    width: 9rem;
}