/* fonts  */
.font0 {
    font-size: 4rem;
}

.hide-image {
    display: none;
}

/* main  */
#main-img img {
    height: 10rem;
    width: 10rem;
    padding: 1rem;
}

#main {
    height: 30rem;
}

/* animation images */
.outer img {
    margin: 0.4rem;
    height: 9rem;
    width: 9rem;
}