*{
    margin: 0;
    padding: 0;
    /* font-family: "Montserrat", sans-serif; */
    font-family: 'tw cen mt';
    font-style: normal;
}

html{
  scroll-behavior: smooth;
}

body{
  width: 100%;
}
/* utility classes */
.font0{
  font-size: 6rem; 
}
.font1{
  font-size: 1.5rem;
}
.font2{
  font-size: 4rem;
}

/* head  */
#head {
    height: 10rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#head div{
    color: white;
}

/* Navbar */
#nav{
  background-color: #434242;
  height: 2rem;
  display: flex;
  justify-content:end;
  place-items: center;
}
#nav ul{
  display : flex;
  list-style-type: none;
}
#nav a{
  color: white;
  text-decoration: none;
  margin: 1rem;
}


/* main */
#main{
  height: 28rem;
  display: flex;
  margin: 10px;
}

#text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

#main-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;

}

#main-img img{
  height: 20rem;
  width: 20rem;
  padding: 1rem;
}

/* images */
#images {
  height: 40rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  background-image: url(../images/outer_background.webp) ;
  background-size: cover;
  background-position: initial;
}
.outer{
  margin: 1rem;
}
.outer img {
  margin: 0.4rem;
  height: 18rem;
  width: 18rem;
  border-radius: 1em;
  /* box-shadow: 0px 0px 50px 5px gray; */
}

#no1,
#no2 {
  display: flex;
}
/* animations */
#left{
  position: relative;
  animation: left 2s;
}
#top{
  position: relative;
  animation: top 2s;
}
#bottom{
  position: relative;
  animation: bottom 2s;
}
#right{
  position: relative;
  animation: right 2s;
}

@keyframes left{
  0%{left: -500px;}
  100%{left: 0px;}
}
@keyframes top{
  0%{top: -500px;}
  100%{top: 0px;}
}
@keyframes bottom{
  0%{bottom: -500px;}
  100%{bottom: 0px;}
}
@keyframes right{
  0%{right: -500px;}
  100%{right: 0px;}
}

/* Button */
#btn{
  display: flex;
  justify-content: center;
  margin: 1rem;
}

#btn button{
  background-color: #fff;
  padding: 1rem;
  border-radius: 1.5rem;
  border: 1px solid grey;
  filter: drop-shadow(5px 10px 2px grey);
}
#btn button:active{
  filter: drop-shadow(5px 10px 2px rgb(0, 0, 0));
}
/* footer  */
#footer {
    position: relative;
    /* top: 1000px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

/* #hamburger menu  */
/* hamburger menu  */

#h-menu {
  display: none;
  flex-direction: column;
  /* background-color: black; */
}

#h-btn {
  border: none;
  background: none;
  color: white;
  position: absolute;
  top: 8rem;
  right: 5px;
  font-size: 1.5rem;
}

#h-container {
  display: none;
  position: absolute;
  width: 100%;
}

#h-container a {
  display: block;
  color: white;
  text-decoration: none;
  background-color: #434242;
  padding: 0.2rem;
}
#h-container a:hover{
  background-color: rgb(0, 0, 0);
}
#h-menu:hover #h-container {
  display: block;
}


@media screen and (max-width : 600px) {
  

  #nav {
    display: none;
  }

  #h-menu {
    display: inline;
    font-size: 0.9rem;
  }
}