/* main */
#main{
    height: 23rem;
} 


/* images in animation */
#images {
    height: 26.6rem;
}
.outer img {
    margin: 0.4rem;
    height: 12rem;
    width: 12rem;
    border-radius: 1em;
    box-shadow: 0px 0px 50px 5px gray;
  }

