* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    background-image: url(sign_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    border: 1px solid grey;
    margin: 10% 0;
    padding: 1%;
    border-radius: 20px;
    font-size: 1.5rem;
    width: 40%;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 2rem 1.4rem rgb(0 0 0 / 82%);
}

#caption {
    font-size: 2rem;
    text-align: center;
}

input {
    width: 100%;
}

#btn {
    display: flex;
    justify-content: space-between;
}

button {
    width: 5rem;
    border-radius: 0.9rem;
    font-size: 1rem;
    background-color: #fff;
    padding: 0.5rem;
    border: 1px solid grey;
    filter: drop-shadow(0.5rem 0.4rem 0.1rem grey);
}

button:active {
    filter: drop-shadow(0.5rem 0.4rem 0.1rem rgb(0, 0, 0));
}

@media screen and (max-width: 500px){
    form {
        font-size: 0.75rem;
        width: 75%;
        margin: 40% 0;
    }
    caption{
        font-size: 1rem;
    }
    button {
        width: 2.5rem;
        font-size: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.45rem;
        filter: drop-shadow(0.25rem 0.2rem 0.05rem grey);
    }
    button:active{
        filter: drop-shadow(0.25rem 0.2rem 0.05rem black);
    }

}